@charset "UFT-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
body{
    height: 100%;
}
header{
    height: 10%;
    padding: 1%;
    background-color: black;
    color: white;
    text-align: center;

}
header h1{
    margin: 10px;
    font-variant: small-caps;
}
main{
    padding: 10px;
    box-shadow: inset -1px -1px 3px 1px black;
    height: 100%;
    background: linear-gradient(90deg,rgba(42, 123, 155, 0.83) 0%, rgba(168, 186, 175, 1) 50%, rgba(97, 94, 70, 0.85) 100%);
}
.modulo ::-webkit-scrollbar{
    width: 0px;
}
.modulo{
    
    border-top: 1px solid rgba(255, 255, 255, 0.479);
    border-left: 1px solid rgba(255, 255, 255, 0.363);
    box-shadow: 2px 3px 3px #0000006e;
    margin: 20px auto;
    width: 95%;
    padding: 1%;
    border-radius: 10px;
    background-color: rgba(66, 65, 65, 0.123);
    backdrop-filter: blur(100px);
    text-shadow:  1px 1px 6px rgb(0 0 0 / 32%);
}
.modulo > h2{
    text-align: center;
}
.modulo p,.modulo hr{
    margin: 10px;
}
.conteudos{
    overflow-y: auto;
    width: 96%;
    background-color: rgba(66, 65, 65, 0.219);
    padding: 5px;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0.692);
    margin: auto;
    height: 507px;
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(100px);
}
.conteudo{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 10px;
    background-color: rgb(216, 215, 215);
    border: 2px solid black;
    border-radius: 15px;
    width: 270px;
    text-align: center;
}
.conteudo h3{
    color: #FFFC00;
    border: 1px solid black;
    border-radius: 13px 13px 0px 0px;
    font-variant: small-caps;
    background-color: #009DFF;
    padding: 7px;
}
.conteudo iframe{
    box-shadow: inset 1px 1px black;
    display: block;
    width: 98%;
}
.conteudo a{
    margin-top: auto;
    box-shadow: inset 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    display: block;
    border-radius: 2px 2px 12px 12px;
    background-color: #ff00009f;
    color: white;
    text-decoration: none;
}
footer{
    height: 2%;
    text-align: center;
    background-color: black;
    color: white;
}
footer a{
    text-decoration: none;
    color: bisque;
}