@charset "UTF-8";

header, header nav{
    flex-flow: column nowrap;
    
}
header h1{
    flex: 0 0 30px;
}
header nav a{
    margin: 1px;
    text-align: center;
}
header nav{
    width: 80vw;
    margin: auto;
}