@charset "UTF-8";
    
    /* declarações gerais */
    *{
margin: 0px;
padding: 0px;
}
body{
    background-color: #233eff;
    color: white
}

header{
    background-color: rgb(78, 57, 2);
    padding: 20px;
}
header h1{
    text-align: center;
}
main{
    margin: 10px;
    padding: 20px;
    text-align: justify;
    line-height: 30px;
}
main h2{
    margin: 8px;
    text-align: center;
}

    /* declarações retrato */
@media screen and (orientation: portrait) {
    
    body{
        background: url(../imagens/cev-portrait.jpg) no-repeat fixed center top/cover;
    }
}

    /* declarações paisagem */
@media screen and (orientation: landscape) {
    body{
        background: url(../imagens/cev-landscape.jpg) no-repeat fixed center top/cover;
        
    }
}