@charset "UTF-8";

body{
    background-color: rgb(68, 68, 68);
}
.conteiner{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row-reverse;
    
}
.items{
   
    text-align: center;
    border: 1px solid black;
    width: 10px;
    background-color: blueviolet;
}