@charset "UTF-8";




/* Typical Device Breakpoints
------------------------------------
small phones: 0-480
tablets && large phones: 481-768
laptos, large tablest e small dsktops: 769-1279
large desktops and monitors: 1280+
*/

@media screen and (max-width: 768px) {
    body {
        background-color: #5f2c82;
    }

    #imagem {
        height: 200px;
    }

    #info {
        margin: 9px;
        height: 300px;
    }
    #info p {
        padding-bottom: 10px;
    }
    #botoes{
        margin-top: 20px;
    }
    .botao{
        cursor: pointer;
        margin-top: 5px;
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {

    #conteudo {
        width: 80vw;
    }

    #imagem {
        width: 40%;
        height: 100%;
        float: left;
    }

    #info {
        margin: 10px;
        width: 55%;
        height: 100%;
        float: right;
    }
    #info p{
        margin-top: 30px;
    }

    form
}

@media screen and (min-width: 1280px) {
    #conteudo {
        width: 1024px;
    }

    #imagem {
        height: 40%;
    }

    #info {
        margin: 30px;
    }

    #info h1 {
        font-size: 3em;

    }
    #info p {
        font-size: 1.5em;
    }
}