@charset "UTF-8";

/* configurações gerais */

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #233eff;
    color: white
}

header{
    background-color: rgb(78, 57, 2);
    padding: 20px;
}
header h1{
    text-align: center;
}
main{
    margin: 10px;
    padding: 20px;
    text-align: justify;
    line-height: 30px;
}
main h2{
    margin: 8px;
    text-align: center;
}