@charset "UTF-8";

body{
    background-color: rgb(68, 68, 68);
}
.conteiner{
    height: 300px;
    background-color: antiquewhite;
    display: flex;
    flex-flow: row wrap;
    
    /* 
    align-content: (é o alinhamento do enpacotamento de itens, no eixo transversal (eixo do cross))

    flex-start
    flex-end
    center
    space-between
    space-around
    space-evenly


    */
    align-items: end;
}
.items{
    text-align: center;
    width: 50px;
    border: 1px solid black;
    background-color: blueviolet;
}